	telephone {
	display: block; 
	width: 250px; 
	font-size: 16pt ; 
	font-family: arial ; 
	font-weight: bold; 
	background-color:#008080; 
	color: lightgray; 
	padding-left: 10px; 
	margin:20px; 
	}
	